body{
    text-align: center;
    background: linear-gradient(0deg, rgba(85, 205, 201, 0.7)0%,rgba(100,200,140,0.2) 100%);
    min-height: 200px;
}
.section{
    outline-width: 4px;
    border-radius: 10%;
    background-color: rgba(100, 210, 192,0.5);
    outline: auto;
    outline-width: 50px;
    outline-color: rgba(60, 170, 152,0.5);

}
div{
    justify-content: space-around;
    flex-direction: column;
    margin-bottom: 13%;
}
p{
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: darkgreen;
    font-weight: bold;
}
#hob_li {

    font-size:xx-large ;
    color: goldenrod;
}
#pro_li{
    color: goldenrod;
    font-size:xx-large ;
    color: rgba(210, 160, 165, alpha);
    background-color: rgba(200,225,210, 0.2);
    


}

h1{
    font-family: sans-serif;
    background-color: aqua;
    text-align: center;
    color:darkcyan;

}
h2{
    color: darkgreen;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
}
img{
    align-items: center;
    width: 300px;
}