body{
    text-align: center;
    background: linear-gradient(0deg, rgba(100,44,155,0.7) 13%,rgba() 42%);
    min-height: 200px;
}
.section{
    outline-width: 4px;
    border-radius: 10%;
    background-color: rgba(100, 210, 192,0.5);
}
ul {
   
    color: goldenrod;
}
#pro_li{
    font-size:xx-large ;
    color: rgba(210, 160, 165, alpha);
    background-color: rgba(200,225,210, 0.2);
    


}

h1{
    font-family: Impact, Haettenschweiler, ;
    background-color: aqua;
    text-align: center;
}
img{
    align-items: center;
    width: 300px;
}